<div class="row phiTab">
	
  
   <div class="col-md-4">
      <phi-items-list>
        <phi-items-list-bar></phi-items-list-bar>        
        
        <div class="row">
          <div class="col-xs-12">
            <table ng-table="tableParams" class="table">
              <tr ng-repeat="vital in $data" ng-click="onSelect(vital)" ng-class="{'active': isSelected(vital)}">
                
                <td data-title="'Date'" sortable="'date'" width="20%">
                  {{data.record[vital.id].date | date:'MM/dd/yyyy'}}
                  <span class="label label-warning" ng-show="isDirty(vital) || isNew(vital)">Unsaved</span>
                  <span class="label label-danger" ng-hide="isValid(vital)">Invalid</span>
                </td>
                <td data-title="'Height'" sortable="'height'" width="20%">
                  <span>{{data.record[vital.id].height.value}} {{data.record[vital.id].height.units}}</span>
                </td>
                <td data-title="'Weight'" sortable="'weight'" width="20%">
                  <span>{{data.record[vital.id].weight.value}} {{data.record[vital.id].weight.units}}</span>
                </td>
                <td data-title="'BP'" width="40%">
                  <span>{{data.record[vital.id].bpSystolic.value}} {{data.record[vital.id].bpSystolic.units}} / {{data.record[vital.id].bpDiastolic.value}} {{data.record[vital.id].bpDiastolic.units}}</span>
                </td>
               
              </tr>           
            </table>
          </div>
        </div>       
      </phi-items-list>
    </div>    
    
    <div class="col-md-8" style="height: 100%;"> 
      <phi-item-form item="selectedVital">        
        <div class="row">
          
          <div class="col-md-4">
            <label class="control-label">Date</label> 
            <input type="datetime" class="form-control" ng-model="selectedVital.date" datepicker-popup="MM/dd/yyyy HH:mm" ng-required="true">
          </div>
          
          <div class="col-md-4">
            <label class="control-label">Source</label>
            <input id="source" type="text" class="form-control" ng-model="selectedVital.user" readonly/>
          </div> 
          
          <div class="col-md-2">
            <label class="control-label">Status</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="selectedVital.notEntered" ng-change="notEnteredCheckboxTouched(selectedVital)"/>Not Entered
              </label>
            </div>
          </div>
          
          <div class="col-md-2">
            <div ng-show="selectedVital.notEntered">
              <label class="control-label">Not Entered Reason</label>
              <select id="statusText" class="form-control" ng-model="selectedVital.notEnteredReason" >
                <option value="NoReasonIdentified">No Reason Identified</option>
                <option value="Patient">Patient</option>
                <option value="Medical">Medical</option>
                <option value="System">System</option>                
              </select>           
            </div>  
          </div>  
          
        </div>
        
        <fieldset ng-disabled="selectedVital.notEntered">
        
          <div class="row" style="margin-top: 20px;">
            
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Anthropometric Values</div>
                <div class="panel-body">
                  <label class="control-label">Height/Length</label>
                  <div class="row">
                    <div class="col-xs-4">
                      <input id="heightValue" type="number" class="form-control" ng-model="selectedVital.height.value" ng-disabled="selectedVital.heightOutOfScope" ng-change="initHeightUnits(selectedVital);recalculateBmi(selectedVital);"/>
                    </div>
                    <div class="col-xs-4">
                      <select id="heightUnits" class="form-control" ng-model="selectedVital.height.units" ng-disabled="selectedVital.heightOutOfScope" ng-change="recalculateBmi(selectedVital);">
                        <option value="in">in</option>
                        <option value="cm">cm</option>                      
                      </select>
                    </div>
                    <div class="col-xs-4">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="selectedVital.heightOutOfScope" ng-change="onHeightOutOfScopeChanged(selectedVital);" />Out of scope
                        </label>
                      </div>                  
                    </div>
                  </div>  
                  
                  <label class="control-label">Weight</label>
                  <div class="row">
                    <div class="col-xs-4">
                      <input id="weightValue" type="number" class="form-control" ng-model="selectedVital.weight.value" ng-disabled="selectedVital.weightOutOfScope" ng-change="initWeightUnits(selectedVital);recalculateBmi(selectedVital);"/>
                    </div>
                    <div class="col-xs-4">
                      <select id="weightUnits" class="form-control" ng-model="selectedVital.weight.units" ng-disabled="selectedVital.weightOutOfScope" ng-change="recalculateBmi(selectedVital);">
                        <option value="lbs">lbs</option>
                        <option value="kg">kg</option>
                      </select>
                    </div>
                    <div class="col-xs-4">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="selectedVital.weightOutOfScope" ng-change="onWeightOutOfScopeChanged(selectedVital);"/>Out of scope
                        </label>  
                      </div>                
                    </div>
                  </div>  
                  
                  <label class="control-label">BMI</label>
                  <div class="row">
                    <div class="col-xs-12">
                      <span style="padding-left: 12px;">{{selectedVital.bmi}}</span>
                    </div>
                  </div>
                </div>
              </div>           
            </div>
            
            <div class="col-md-6">          
              <div class="panel panel-default">
                <div class="panel-heading">Blood Pressure</div>
                <div class="panel-body">
                  <label class="control-label">BP Systolyc</label>
                  <div class="row">
                    <div class="col-xs-4">
                      <input id="bpSystolicValue" type="number" class="form-control" ng-model="selectedVital.bpSystolic.value" ng-disabled="selectedVital.bpOutOfScope" ng-change="initBpUnits(selectedVital.bpSystolic);"/>
                    </div>
                    <div class="col-xs-4">
                      <select id="bpSystolicUnits" class="form-control" ng-model="selectedVital.bpSystolic.units" ng-disabled="selectedVital.bpOutOfScope">
                        <option value="mmHg">mmHg</option>                
                      </select>
                    </div>
                  </div>  
                  
                  <label class="control-label">BP Diastolic</label>
                  <div class="row">
                    <div class="col-xs-4">
                      <input id="bpDiastolicValue" type="number" class="form-control" ng-model="selectedVital.bpDiastolic.value" ng-disabled="selectedVital.bpOutOfScope" ng-change="initBpUnits(selectedVital.bpDiastolic);"/>
                    </div>
                    <div class="col-xs-4">
                      <select id="bpDiastolicUnits" class="form-control" ng-model="selectedVital.bpDiastolic.units" ng-disabled="selectedVital.bpOutOfScope">
                        <option value="mmHg">mmHg</option>                
                      </select>
                    </div>
                  </div>
                </div>
              </div>                      
            </div>
            
          </div>  
          
          <div class="row">
          
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">Counseling</div>
                <div class="panel-body">      
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="selectedVital.counseling.nutritionCounseling"/>Nutrition Counseling
                        </label>  
                      </div>                                    
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="selectedVital.counseling.physActivityCounseling"/>Physical Activity Counseling
                        </label>
                      </div>                  
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="selectedVital.counseling.followupPlanDocumented"/>Followup Plan Documented
                        </label>
                      </div>                  
                    </div>
                  </div>
                </div>
              </div>                      
            </div>
          
          </div>  
        
        </fieldset>    
        
      </phi-item-form>
    </div>
  
  
</div>