/*auto injury form styles */

.autoInJuryForm .fieldset {
	border-radius: 4px;
	border: 1px thin rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 30px auto;
	padding: 10px 0;
}

#aif {
	padding-bottom: 30px;
}

#aif .row {
	margin: 10px auto;
}

#aif .aif-txa {
	resize: vertical;
}

#aif #dd {
	margin-top: 30px;
}

#time-label {
	margin-top: 42px;
}

#timepicker-column {
	padding-top: 15px;
}

.table td:hover {
	cursor: pointer;
}

.autoInJuryForm input[type="radio"]{
	width: auto;
	margin-right: 3px;
	margin-left: 8px
}

.autoInJuryForm input[type="checkbox"]{
	margin-right: 5px;
}

.narrative-text {
	height: 100%;
}



#narr {
	display: none;
	border-radius: 4px;
	border: 1px thin rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 30px auto;
	padding: 10px 15px;
}

#left-menu {
	display: block;
}


.autoInJuryForm .trigger {
	position: fixed;	
	width: 50px;
	height: 100%;
	/*background: rgba(87, 121, 158, .3);*/
	color: #286090;
	font-weight: 700;
	padding: 20px 25px;
	text-align: center;
	z-index: 999;
}

.autoInJuryForm .trigger:hover {
	cursor: pointer;
}

.autoInJuryForm .left-trigger i {
	position: fixed; 
	top: 50%;
	left: 15px;
	font-size: 2em;
}

.autoInJuryForm .right-trigger i {
	position: fixed; 
	top: 50%;
	right: 15px;
	font-size: 2em;
}

.autoInJuryForm .left-trigger {
	left: 0;
}

.autoInJuryForm .right-trigger {
	right: 0;
}

.autoInJuryForm .final-words {
	text-align: center;
	font-weight: 700;
}

.autoInJuryForm.phiTab {
	position: relative;
}

.autoInJuryForm.hidable {
	padding: 0 50px;
}

.autoInJuryForm .btn-danger i {
	display: block;
	margin: 0 auto;
}

.autoInJuryForm .btn-danger {
	padding: 10px;
}

.autoInJuryForm .left-trigger .flipped {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 465px;
}

.autoInJuryForm .right-trigger .flipped {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 465px;
}

.autoInJuryForm .left-trigger .not-flipped {
	-moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    left: 15px
}

.autoInJuryForm .right-trigger .not-flipped {
	-moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    right: 15px
}

.autoInJuryForm md-sidenav {
	padding: 10px 20px;
}

.autoInJuryForm md-sidenav,
.autoInJuryForm md-sidenav.md-locked-open,
.autoInJuryForm md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 400px !important;
    width: 450px !important;
    max-width: 450px !important;
}

.autoInJuryForm md-content {
	width: 80%;
	padding: 10px 1%;
}

.autoInJuryForm .tab-content {
	top: 42px;
}

.autoInJuryForm .hidden {
	visibility: none;
}