<div class="row phiTab">
	
  
   <div class="col-md-3">
      <phi-items-list>
        <phi-items-list-bar></phi-items-list-bar>        
        
        <div class="row">
          <div class="col-xs-12">
            <table ng-table="tableParams" class="table">
              <tr ng-repeat="hist in $data | filter: filterQuery" ng-click="onSelect(hist)" ng-class="{'active': isSelected(hist)}">
                
                <td data-title="'Date'" sortable="'startDate'" width="20%">
                  {{data.record[hist.id].startDate | date:'MM/dd/yyyy'}}
                  <span class="label label-warning" ng-show="isDirty(hist) || isNew(hist)">Unsaved</span>
                  <span class="label label-danger" ng-hide="isValid(hist)">Invalid</span>
                </td>

                <td data-title="'Type'" sortable="'relationCode'" width="20%">
                  <span>{{data.record[hist.id].relationCode.description}}</span>
                </td>
                <td data-title="'Problem'" sortable="'description'" width="20%">
                  <span>{{data.record[hist.id].description}}</span>
                </td>
                <td data-title="'Status'" width="40%" sortable="'problemStatus'">
                  <span>{{data.record[hist.id].problemStatus}}</span>
                </td>
               
              </tr>           
            </table>
          </div>
        </div>       
      </phi-items-list>
    </div>    
    
    <div class="col-md-9" style="height: 100%;">
      <phi-item-form item="selectedHist">        
        <div class="row">
          
          <div class="col-md-3">
            <label class="control-label">Start Date</label> 
            <!--<input type="datetime" class="form-control" ng-model="selectedHist.startDate" datepicker-popup="MM/dd/yyyy HH:mm" ng-required="true">-->
            <input type="datetime" class="form-control" ng-model="selectedHist.startDate" ui-date ui-date-format="mm/dd/yy" required ng-required="true">
          </div><!-- end col -->

          <div class="col-md-3">
            <label class="control-label">End Date</label> 
            <input type="datetime" class="form-control" ng-model="selectedHist.endDate" ui-date ui-date-format="mm/dd/yy">
          </div><!-- end col -->

          <div class="col-md-3">
            <label class="control-label">Status (SNOMED-CT)</label>
              <select id="status" class="form-control" ng-model="selectedHist.problemStatus" required ng-required="true">
                <option value="Active">55561003: Active</option>
                <option value="Inactive">73425007: Inactive</option>
                <option value="Resolved">413322009: Resolved</option>                
              </select>
          </div><!-- end col -->
          
          <div class="col-md-3">
            <label class="control-label">Source</label>
            <input id="source" type="text" class="form-control" ng-model="selectedHist.user" readonly/>
          </div> <!-- end col -->
          
          
        </div><!-- end row -->

        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Relation Code</label>
              <select id="relationCode" class="form-control" ng-model="selectedHist.relationCode.description" ng-required="true" required>
                <option value="Empty" selected="selected">-- Empty --</option>
                <option value="Adopted Child">ADOPT: adopted child</option>
                <option value="Aunt">AUNT: aunt</option>
                <option value="Child">CHILD: Child</option>
                <option value="Child in-law">CHLDINLAW: child in-law</option>
                <option value="Cousin">COUSN: cousin</option>
                <option value="Domestic Partner">DOMPART: domestic partner</option>
                <option value="Family Member">FAMMEMB: Family Member</option>
                <option value="Foster Child">CHLDFOST: foster child</option>
                <option value="Grandchild">GRNDCHILD: grandchild</option>
                <option value="Grandparent">GPARNT: grandparent</option>
                <option value="Grandparent">GRPRN: Grandparent</option>
                <option value="Great Grandparent">GGRPRN: great grandparent</option>
                <option value="Half-sibling">HSIB: half-sibling</option>
                <option value="Maternal Aunt">MAUNT: MaternalAunt</option>
                <option value="Maternal Cousin">MCOUSN: MaternalCousin</option>
                <option value="Maternal Grandparent">MGRPRN: MaternalGrandparent</option>
                <option value="Maternal Greatgrandparent">MGGRPRN: MaternalGreatgrandparent</option>
                <option value="Maternal Uncle">MUNCLE: MaternalUncle</option>
                <option value="atural child">NCHILD: natural child</option>
                <option value="Natural Parent">NPRN: natural parent</option>
                <option value="Natural Sibling">NSIB: natural sibling</option>
                <option value="Niece/Nephew">NIENEPH: niece/nephew</option>
                <option value="Parent">PRN: Parent</option>
                <option value="Parent in-law">PRNINLAW: parent in-law</option>
                <option value="Paternal Aunt">PAUNT: PaternalAunt</option>
                <option value="Paternal Cousin">PCOUSN: PaternalCousin</option>
                <option value="Paternal Grandparent">PGRPRN: PaternalGrandparent</option>
                <option value="Paternal Greatgrandparent">PGGRPRN: PaternalGreatgrandparent</option>
                <option value="Paternal Uncle">PUNCLE: PaternalUncle</option>
                <option value="Sibling">SIB: Sibling</option>
                <option value="Sibling in-law">SIBINLAW: sibling in-law</option>
                <option value="Significant other">SIGOTHR: significant other</option>
                <option value="Spouse">SPS: spouse</option>
                <option value="Step Child">STEP: step child</option>
                <option value="Step Parent">STPPRN: step parent</option>
                <option value="Step Sibling">STPSIB: step sibling</option>
                <option value="Uncle">UNCLE: uncle</option>              
              </select>
          </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Problem Type (SNOMED-CT)</label>
              <select id="problemType" class="form-control" ng-model="selectedHist.problemType">
                <option value="Empty">-- Empty --</option>
                <option value="Finding">404684003: Finding</option>
                <option value="Complaint">409586006: Complaint</option>
                <option value="Diagnosis">282291009: Diagnosis</option>
                <option value="Condition">64572001: Condition</option>
                <option value="Functional limitation">248536006: Functional Limitation</option>
                <option value="Symptom">418799008: Symptom</option>
                <option value="Problem">55607006: Problem</option>         
              </select>
          </div><!-- end col -->

          <div class="col-md-6">
            <label class="control-label">Problem (SNOMED-CT)</label>
            <input id="problem" type="text" class="form-control" ng-model="selectedHist.problemValueSnomed.description" ng-disabled="selectedHist.noProblemKnown"/>
          </div> <!-- end col -->
        </div><!-- end row -->

        <div class="row">
          <div class="col-md-12">
            <div class="checkbox pull-right">
              <label>
                <input type="checkbox" ng-model="selectedHist.noProblemKnown" ng-change="notProblemKnownCheckboxTouched(selectedHist)">No Problem Known 
              </label>
            </div>
          </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Description (Text)</label>
            <textarea id="problemDescription" style="width: 100%; resize:vertical;" ng-model="selectedHist.description"></textarea>
          </div>
        </div>
        
        
        
      </phi-item-form>
    </div>
  
  
</div>