
<div class="row phiTab">
  <div class="col-md-3" ng-click="hideNarrative()">
    <phi-items-list>
        <phi-items-list-bar></phi-items-list-bar>        
        
        <div class="row">
          <div class="col-xs-12">
            <table ng-table="tableParams" class="table">
              <tr ng-repeat="injuryForm in $data" ng-click="onSelect(injuryForm)" ng-class="{'active': isSelected(injuryForm)}">
                
                <td data-title="'Date'" sortable="'date'" width="50%">
                  {{data.record[injuryForm.id].date | date:'MM/dd/yyyy'}}
                  <span class="label label-warning" ng-show="isDirty(vital) || isNew(vital)">Unsaved</span>
                  <span class="label label-danger" ng-hide="isValid(vital)">Invalid</span>
                </td>
                <td data-title="'Name'" sortable="'name'" width="50%">
                  <span>{{data.record[injuryForm.id].name}}</span>
                </td>               
              </tr>           
            </table>
          </div>
        </div>       
    </phi-items-list>
  </div><!-- end col --> 
       
  <div class="col-md-8 aif" ng-click="hideNarrative()">
    <phi-item-form item="selectedInjuryForm">
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Name</label> 
          <input type="text" class="form-control" ng-model="selectedInjuryForm.name" name="name" id="name" required ng-required="true">
        </div><!-- end col -->

        <div class="col-md-6">
          <label class="control-label">Today's Date</label> 
          <input type="datetime" class="form-control" ng-model="selectedInjuryForm.date" name="date" ui-date ui-date-format="mm/dd/yy">
        </div><!-- end col -->

      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6" id="timepicker-column">
          <label class="control-label">Date of collision</label> 
          <input type="datetime" class="form-control" ng-model="selectedInjuryForm.dateCollision.date" ui-date ui-date-format="mm/dd/yy">
        </div><!-- end col -->

        <div class="row">
        <div class="col-md-2">
          <label class="control-label" id="time-label">Time of collision</label> 
        </div><!-- end col -->  

        <div class="col-md-4">
          <timepicker ng-model="selectedInjuryForm.dateCollision.time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
        </div><!-- end col -->  

      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <label class="control-label">What Street, Highway or Intersection &amp; What City &amp; State did the collision occur? </label>
          <textarea class="aif-txa form-control" ng-model="selectedInjuryForm.location" class="form-control"></textarea>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Road conditions were </label>
          <input type="radio" value="wet" ng-model="selectedInjuryForm.roadConditions" >WET</input>
          <input type="radio" value="dry" ng-model="selectedInjuryForm.roadConditions" >DRY</input>
          <input type="radio" value="icy" ng-model="selectedInjuryForm.roadConditions" >ICY</input>
          <input type="radio" value="other" ng-model="selectedInjuryForm.roadConditions" >OTHER</input>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-5">
          <label class="control-label">Did the police come to the accident scene? </label>
          <input type="radio" value="yes" ng-model="selectedInjuryForm.police" >Yes</input>
          <input type="radio" value="no" ng-model="selectedInjuryForm.police" >No</input>
        </div>        
        <div class="col-md-3">
          <label class="control-label">Is there a report?</label>
          <input type="radio" value="yes" ng-model="selectedInjuryForm.report" >Yes</input>
          <input type="radio" value="no" ng-model="selectedInjuryForm.report" >No</input>
        </div>  
        <div class="col-md-4">
          <label class="control-label">Did you request the report?</label>
          <input type="radio" value="yes" ng-model="selectedInjuryForm.reportRequest" >Yes</input>
          <input type="radio" value="no" ng-model="selectedInjuryForm.reportRequest" >No</input>
        </div>  
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Did you go to the hospital?</label>
          <input type="radio" value="yes" ng-model="selectedInjuryForm.hospital" >Yes</input>
          <input type="radio" value="no" ng-model="selectedInjuryForm.hospital" >No</input>
        </div>
        <div class="col-md-2" ng-if="selectedInjuryForm.hospital==='yes'">
          <label class="control-label">If yes, what Hospital? </label> 
        </div>
        <div class="col-md-6" ng-if="selectedInjuryForm.hospital==='yes'">
          
          <input type="text" class="form-control" ng-model="selectedInjuryForm.hospitalName">
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12" >
          <label class="control-label">How did you get to the hospital/ Who transported you? </label>
          <input type="radio" value="ambulance" ng-model="selectedInjuryForm.hospitalTransportation" >AMBULANCE</input>
          <input type="radio" value="self" ng-model="selectedInjuryForm.hospitalTransportation" >SELF</input>
          <input type="radio" value="spouse" ng-model="selectedInjuryForm.hospitalTransportation" >SPOUSE</input>
          <input type="radio" value="friend" ng-model="selectedInjuryForm.hospitalTransportation" >FRIEND</input>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12">
          <label class="control-label">What parts of your body were x-rayed at the hospital? </label>
          <textarea class="aif-txa form-control" ng-model="selectedInjuryForm.hospitalXray" class="form-control"></textarea>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12">
          <label class="control-label">What did the hospital do for your injuries?</label>
          <textarea class="aif-txa form-control" ng-model="selectedInjuryForm.hospitalInjuries" class="form-control"></textarea>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12">
          <label class="control-label">How long did you stay at the hospital? </label>
          <textarea class="aif-txa form-control" ng-model="selectedInjuryForm.hospitalDuration" class="form-control"></textarea>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Did you sustain cuts or bleed as a result of this injury? </label>
          <textarea class="aif-txa form-control" ng-model="selectedInjuryForm.cutbleed" class="form-control"></textarea>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Did you sustain bruises did during this collision? </label>
          <textarea class="aif-txa form-control" ng-model="selectedInjuryForm.bruises" class="form-control"></textarea>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12" >
          <label class="control-label">Where were you seated in the vehicle? </label>
          <input type="radio" value="driver" ng-model="selectedInjuryForm.seat" >DRIVER</input>
          <input type="radio" value="front passenger" ng-model="selectedInjuryForm.seat" >FRONT PASSENGER</input>
          <input type="radio" value="left rear" ng-model="selectedInjuryForm.seat" >LEFT REAR</input>
          <input type="radio" value="middle rear" ng-model="selectedInjuryForm.seat" >MIDDLE REAR</input>
          <input type="radio" value="right rear" ng-model="selectedInjuryForm.seat" >RIGHT REAR</input>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12" >
          <label class="control-label">Were you aware or surprised by the collision? </label>
          <input type="radio" value="aware of" ng-model="selectedInjuryForm.collisionAwareness" >AWARE</input>
          <input type="radio" value="surprised by" ng-model="selectedInjuryForm.collisionAwareness" >SURPRISED</input>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-4" >
          <label class="control-label">Did you lose consciousness (black out) upon impact?</label>
          <input type="radio" value="yes" ng-model="selectedInjuryForm.collisionConsciousness" >Yes</input>
          <input type="radio" value="no" ng-model="selectedInjuryForm.collisionConsciousness" >No</input>
        </div>
        <div class="col-md-4" ng-if="selectedInjuryForm.collisionConsciousness==='yes'">
          <label class="control-label">How long:</label> 
          <input type="text" class="form-control" ng-model="selectedInjuryForm.collisionBlackOutDuration">
        </div>
        <div class="col-md-4" >
          <label class="control-label">Did you experience a flash of light or explosion in your head?</label>
          <input type="radio" value="yes" ng-model="selectedInjuryForm.collisionFlashOfLight" >Yes</input>
          <input type="radio" value="no" ng-model="selectedInjuryForm.collisionFlashOfLight" >No</input>
        </div>
      </div><!-- end row -->


    </div><!-- end col -->

    </div><!-- end row -->

    <div class="col-md-1 left-trigger" id="narr-trigger" ng-click="showNarrative()">
      Click to display narrative
    </div>

    <div class="narrative" id="narr" ng-if='selectedInjuryForm'>
        Injury form for {{selectedInjuryForm.name}} dated from {{selectedInjuryForm.date | date:'MM/dd/yyyy'}} for collision occuring at {{selectedInjuryForm.dateCollision.date | date:'MM/dd/yyyy'}} {{selectedInjuryForm.time}}<br>
        <span ng-if="selectedInjuryForm.location || selectedInjuryForm.roadConditions">Injury occured at {{selectedInjuryForm.location}}. Road conditions were {{selectedInjuryForm.roadConditions}} <br></span>
        <span ng-if="selectedInjuryForm.police">Police came to the accident scene? {{ selectedInjuryForm.police }}</span> <br>
        <span ng-if="selectedInjuryForm.police && selectedInjuryForm.report">Is there a report? {{ selectedInjuryForm.report }}</span> <br>
        <span ng-if="selectedInjuryForm.police && selectedInjuryForm.reportRequest">Was report requested? {{ selectedInjuryForm.reportRequest }}</span> <br>

    </div>
  </phi-item-form>
</div>

