<div> 
  <div ng-repeat='hist in data.records' ng-if="hist.active">
    <a ng-click="moveToItem('customFamilyHistoryStoreId', hist.id);">
      <span>
          <span ng-if='data.record[hist.id].date'>{{data.record[hist.id].startDate|date:"MM/dd/yyyy"}}</span>
          <span ng-if='data.record[hist.id].relationCode'>{{data.record[hist.id].relationCode.description}}</span>
          <span ng-if='data.record[hist.id].description'>{{data.record[hist.id].description}}</span>
          <span ng-if='data.record[hist.id].problemStatus.description'>{{data.record[hist.id].problemStatus}}</span>
      </span>
    </a>
  </div>
  <div ng-if='!data.records.length'>
    <a ng-click="moveToItem('customFamilyHistoryStoreId');">
      No entries
    </a>
  </div>
</div>