<style>
    /*auto injury form styles */

    .autoInJuryForm .fieldset {
        border-radius: 4px;
        border: 1px thin rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin: 30px auto;
        padding: 10px 0;
    }

    #aif {
        padding-bottom: 30px;
    }

    #aif .row {
        margin: 10px auto;
    }

    #aif .aif-txa {
        resize: vertical;
    }

    #aif #dd {
        margin-top: 30px;
    }

    #time-label {
        margin-top: 42px;
    }

    #timepicker-column {
        padding-top: 15px;
    }

    .table td:hover {
        cursor: pointer;
    }

    .narrative-text {
        height: 100%;
    }



    #narr {
        display: none;
        border-radius: 4px;
        border: 1px thin rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin: 30px auto;
        padding: 10px 15px;
    }


    md-sidenav .md-fab {
        position: fixed;
        bottom: 25px;
        right: 30px;
    }

    md-sidenav .md-fab i {
        font-size: 2em;
    }


    #left-menu {
        display: block;
    }


    .trigger {
        position: fixed;
        width: 50px;
        height: 100%;
        /*background: rgba(87, 121, 158, .3);*/
        color: #286090;
        font-weight: 700;
        padding: 20px 25px;
        text-align: center;
        z-index: 999;
    }

    .trigger:hover {
        cursor: pointer;
    }

    @media (min-width: 960px){
        .autoInJuryForm .left-trigger {
            display: none;
        }
    }

    .left-trigger i {
        position: fixed;
        top: 50%;
        left: 15px;
        font-size: 2em;
    }

     .right-trigger i {
        position: fixed;
        top: 50%;
        right: 15px;
        font-size: 2em;
    }

    .left-trigger {
        left: 0;
    }

    .right-trigger {
        right: 0;
    }

    .autoInJuryForm .final-words {
        text-align: center;
        font-weight: 700;
    }

    .autoInJuryForm.phiTab {
        position: relative;
    }

    .autoInJuryForm.hidable {
        padding: 0 50px;
    }

    .autoInJuryForm .btn-danger i {
        display: block;
        margin: 0 auto;
    }

    .autoInJuryForm .btn-danger {
        padding: 10px;
    }

    .autoInJuryForm .left-trigger .flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        left: 465px;
    }

    .right-trigger .flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        right: 465px;
    }

    .left-trigger .not-flipped {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        left: 15px
    }

    .right-trigger .not-flipped {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        right: 15px
    }

    md-sidenav {
        padding: 10px 20px;
    }

     md-sidenav,
    md-sidenav.md-locked-open,
    md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 400px !important;
        width: 450px !important;
        max-width: 450px !important;
    }

    .autoInJuryForm md-content {
        width: 80%;
        padding: 10px 1%;
    }

    .autoInJuryForm .tab-content {
        top: 42px;
    }

    .autoInJuryForm .hidden {
        visibility: none;
    }
</style>

<div class="row phiTab hidable autoInJuryForm" layout="row">

    
 <div class="left-trigger trigger notFlipped" id="left-trigger" ng-click="toggleLeft(); leftState = !leftState;" ng-swipe-left="toggleLeft()">
    <i class="mdi mdi-more" ng-class="{'flipped' : leftState}" ng-if="!$mdMedia('gt-md')"></i>
  </div> 

 

  <md-sidenav md-component-id="left" class="md-sidenav-left" id="left" md-is-locked-open="$mdMedia('gt-md')"> 
      <phi-items-list>
          <phi-items-list-bar></phi-items-list-bar>        
          
          <div class="row">
            <div class="col-xs-12">
              <table ng-table="tableParams" class="table">
                <tr ng-repeat="injuryForm in $data" ng-click="onSelect(injuryForm)" ng-class="{'active': isSelected(injuryForm)}">
                  
                  <td data-title="'Date'" sortable="'date'" width="50%">
                    {{data.record[injuryForm.id].date | date:'MM/dd/yyyy'}}
                    <span class="label label-warning" ng-show="isDirty(vital) || isNew(vital)">Unsaved</span>
                    <span class="label label-danger" ng-hide="isValid(vital)">Invalid</span>
                  </td>
                  <td data-title="'Name'" sortable="'name'" width="50%">
                    <span>{{data.record[injuryForm.id].name}}</span>
                  </td>               
                </tr>           
              </table>
            </div>
          </div>       
      </phi-items-list>
    </md-sidenav>
 
       
  <md-content id="aif" ng-click="toggleSideButtons()">
    <phi-item-form item="selectedInjuryForm">

      <div class="fieldset">

      <div class="row">
        <div class="col-md-6">
          <md-input-container> 
            <label>Name</label> 
            <input type="text" ng-model="selectedInjuryForm.name" name="name" id="name" required ng-required="true">
          </md-input-container>
        </div><!-- end col -->

        <div class="col-md-6">
          <md-input-container> 
            <label class="control-label">Today's Date</label> 
            <input type="date" ng-model="selectedInjuryForm.date">
          </md-input-container>
        </div><!-- end col -->

      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6">
          <md-input-container> 
            <label>Date of collision</label> 
            <input type="date" ng-model="selectedInjuryForm.dateCollision.date">
          </md-input-container>
        </div><!-- end col -->

        <div class="col-md-6">
          <!--<timepicker ng-model="selectedInjuryForm.dateCollision.time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>-->
          <md-input-container>
            <label>Time of collision</label>
            <input type="time" ng-model="selectedInjuryForm.dateCollision.time">
          </md-input-container>
        </div><!-- end col -->  

      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-12">
          <md-input-container>
            <label >What Street, Highway or Intersection &amp; What City &amp; State did the collision occur? </label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.location"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-12">
          <md-radio-group ng-model="selectedInjuryForm.roadConditions">
            <label>Road conditions were</label>
            <md-radio-button  value="wet">WET</md-radio-button>
            <md-radio-button  value="dry">DRY</md-radio-button>
            <md-radio-button  value="icy">ICY</md-radio-button>
            <md-radio-button  value="other">OTHER</md-radio-button>
            
          </md-radio-group>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">
      <div class="row">
        <div class="col-md-5 col-sm-4">
          <md-radio-group ng-model="selectedInjuryForm.police">
            <label>Did the police come to the accident scene?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>        
        <div class="col-md-3 col-sm-4">
          <md-radio-group ng-model="selectedInjuryForm.report">          
            <label>Is there a report?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>  
        <div class="col-md-4 col-sm-4">
          <md-radio-group ng-model="selectedInjuryForm.reportRequest">
            <label>Did you request the report?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>  
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-radio-group ng-model="selectedInjuryForm.hospital">
            <label>Did you go to the hospital?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6">
          <md-input-container ng-if="selectedInjuryForm.hospital==='yes'">
            <label>If yes, what Hospital? </label>
            <input type="text" ng-model="selectedInjuryForm.hospitalName">
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12" >
          <md-radio-group ng-model="selectedInjuryForm.hospitalTransportation">
            <label>How did you get to the hospital/ Who transported you?</label>
            <md-radio-button value="by ambulance">AMBULANCE</md-radio-button>
            <md-radio-button value="by himself">SELF</md-radio-button>
            <md-radio-button value="with spouse">SPOUSE</md-radio-button>
            <md-radio-button value="with the help of friend">FRIEND</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12">
          <md-input-container>
            <label>What parts of your body were x-rayed at the hospital? </label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.hospitalXray"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12">
          <md-input-container>
            <label>What did the hospital do for your injuries?</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.hospitalInjuries"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.hospital==='yes'">
        <div class="col-md-12">
          <md-input-container>
            <label class="control-label">How long did you stay at the hospital? </label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.hospitalDuration"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-12">
          <md-input-container>
            <label>Did you sustain cuts or bleed as a result of this injury? </label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.cutbleed"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <md-input-container>
            <label>Did you sustain bruises did during this collision? </label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bruises"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-12" >
          <md-radio-group ng-model="selectedInjuryForm.seat">
            <label>Where were you seated in the vehicle?</label>
            <md-radio-button value="Patient was seated on driver seat.">DRIVER</md-radio-button>
            <md-radio-button value="Patient was seated on front passenger seat.">FRONT PASSENGER</md-radio-button>
            <md-radio-button value="Patient was seated on left rear seat.">LEFT REAR</md-radio-button>
            <md-radio-button value="Patient was seated on middle rear seat.">MIDDLE REAR</md-radio-button>
            <md-radio-button value="Patient was seated on right rear seat.">RIGHT REAR</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12" >
          <md-radio-group ng-model="selectedInjuryForm.collisionAwareness">
            <label>Were you aware or surprised by the collision?</label>
            <md-radio-button value="Patient was aware of the collision. ">AWARE</md-radio-button>
            <md-radio-button value="Patient was surprised by the collision. ">SURPRISED</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-4 col-sm-4" >
          <md-radio-group ng-model="selectedInjuryForm.collisionConsciousness">
            <label>Did you lose consciousness (black out) upon impact?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-4 col-sm-4" ng-if="selectedInjuryForm.collisionConsciousness==='yes'">
          <label>How long:</label>
          <input type="text" class="form-control" ng-model="selectedInjuryForm.collisionBlackOutDuration">
        </div>
        <div class="col-md-4 col-sm-4" >
          <md-radio-group ng-model="selectedInjuryForm.collisionFlashOfLight">
            <label>Did you experience a flash of light or explosion in your head?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12"><label class="control-label">Did you experience one or more of the following from the collision?</label></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.aftermathConfused">CONFUSED </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.aftermathDisoriented">DISORIENTED  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.aftermathLightheaded">LIGHTHEADED  </md-checkbox>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.aftermathNausea">NAUSEATED  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.aftermathVision">BLURRED VISION  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.aftermathBuzz">RING/BUZZ IN EARS  </md-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12"><label class="control-label">Are you still experiencing any of the above symptoms and if so select which ones? </label></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.symptomConfused">CONFUSED  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.symptomDisoriented">DISORIENTED  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.symptomLightheaded">LIGHTHEADED  </md-checkbox>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.symptomNausea">NAUSEATED  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.symptomVision">BLURRED VISION  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.symptomBuzz">RING/BUZZ IN EARS  </md-checkbox>
        </div>
      </div>  <!-- end row -->   

      <div class="row">
        <div class="col-md-12"><label class="control-label">Are you currently experiencing any of the following as a result of this injury: </label></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.resultConcentration">DIFFICULT CONCENTRATING  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.resultMemory">DIFFICULTY WITH MEMORY  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.resultIrritation"> IRRITABLE </md-checkbox>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.resultRestless">RESTLESSNESS  </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.resultForgetful">FORGETFULNESS </md-checkbox>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-checkbox ng-model="selectedInjuryForm.resultSleepless">SLEEPLESSNESS </md-checkbox>
        </div>
      </div>  <!-- end row -->   
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-checkbox ng-model="selectedInjuryForm.resultHeatTolerance">REDUCED TOLERANCE TO HEAT </md-checkbox>  
        </div>
        <div class="col-md-6 col-sm-6">
          <md-checkbox ng-model="selectedInjuryForm.resultAlcTolerance">REDUCED TOLERANCE TO ALCOHOL</md-checkbox>
        </div>
      </div>  <!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <md-input-container>
            <label>How far is the top of the headrest or seat back from the top of your head (approximately):</label>
            <input type="text" ng-model="selectedInjuryForm.headrest" placeholder="inches above or below">
          </md-input-container>
        </div>
      </div><!-- end row -->
      
      <div class="row">
        <div class="col-md-6 col-sm-6"></div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.seatBelt==='yes'"><label class="control-label"></label></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-radio-group ng-model="selectedInjuryForm.seatBelt">
            <label>Were you wearing a seat belt?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.seatBelt==='yes'">
          <md-radio-group ng-model="selectedInjuryForm.seatBeltType">
            <label>Which type of seatbelt it was?</label>
            <md-radio-button value="lap seatbelt">LAP SEATBELT</md-radio-button>
            <md-radio-button value="shoulder-lap seatbelt">SHOULDER-LAP SEATBELT</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-12"><label class="control-label">List the year, make and model of the vehicle you were in</label></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-input-container>
            <label>Year</label>
            <input type="text" ng-model="selectedInjuryForm.vehicleYear">
          </md-input-container>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-input-container>
            <label>Make</label>
            <input type="text" ng-model="selectedInjuryForm.vehicleMake">
          </md-input-container>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-input-container>
            <label>Model</label>
            <input type="text" ng-model="selectedInjuryForm.vehicleModel">
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-6 col-sm-6"></div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.vehicleStopped==='yes'"></div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.vehicleStopped==='no'"></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-radio-group ng-model="selectedInjuryForm.vehicleStopped">
            <label>Was your car stopped at the time of impact?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.vehicleStopped==='yes'">
          <md-radio-group ng-model="selectedInjuryForm.driverBrake">
            <label>Was the driver’s foot also on the brake?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.vehicleStopped==='no'">
          <md-input-container>
            <label>Estimate the speed of the vehicle you were in (mph)</label>
            <input type="text" ng-model="selectedInjuryForm.estimatedSpeed">
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.vehicleStopped==='no'">
        <div class="col-md-12">
          <md-radio-group ng-model="selectedInjuryForm.vehicleMoving">
            <label>If your vehicle was moving at the time of impact, was it</label>
            <md-radio-button value="Slowing Down">Slowing Down?</md-radio-button>
            <md-radio-button value="Gaining Speed">Gaining Speed?</md-radio-button>
            <md-radio-button value="Traveling at a steady rate of speed? ">Traveling at a steady rate of speed?</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-12"><label class="control-label">On what part of the automobile did your following body parts hit?</label></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Head:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitHead"></textarea>
          </md-input-container>
        </div>
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Chest:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitChest"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Right/Left Shoulder:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitShoulder"></textarea>
          </md-input-container>
        </div>
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Right/Left Arm:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitArm"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Right/Left Hip:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitHip"></textarea>
          </md-input-container>
        </div>
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Right/Left Leg:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitLeg"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Right/Left Knee:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitKnee"></textarea>
          </md-input-container>
        </div>
        <div class="col-md-6 col-sm-6">
          <md-input-container>
            <label>Other:</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.bodyPartHitOther"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->


      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-radio-group ng-model="selectedInjuryForm.seatBeltInjury">
            <label class="control-label">Did you receive any injury or bruise from the seat belt?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.seatBeltInjury==='yes'">
          <md-input-container>
            <label>Describe</label>
            <textarea class="aif-txa form-control" ng-model="selectedInjuryForm.seatBeltInjuryDesc"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-12">
          <md-input-container>
            <label>What is the estimated cost damage to the vehicle you were in?</label>
            <input type="text" ng-model="selectedInjuryForm.estimatedDamageUSD" placeholder="$">
          </md-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Which of the following car parts broke during the accident?   </label>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.carPartWindshield">WINDSHIELD  </md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.carPartFS">FRONT SEAT  </md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.carPartBRSW">BACK RIGHT SIDE WINDOW  </md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.carPartOther">OTHER</md-checkbox>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.carPartSteering">STEERING</md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.carPartWheel">WHEEL</md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.carPartBLSW">BACK LEFT SIDE WINDOW </md-checkbox>
        </div>
      </div>  <!-- end row -->  


      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-6 col-sm-6">
          
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.trunkForward==='no'">
          <label class="control-label"></label>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-radio-group ng-model="selectedInjuryForm.trunkForward" >
            <label>Was the trunk of your body pointed straight forward at the time of the collision? </label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.trunkForward==='no'">
          <md-input-container>
            <label>What direction was it turned and by how much?</label>
            <input type="text" ng-model="selectedInjuryForm.trunkTurned"></input>
          </md-input-container>
        </div>
      </div><!-- end row -->


      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-radio-group ng-model="selectedInjuryForm.headForward">
            <label>Was the trunk of your body pointed straight forward at the time of the collision? </label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.headForward==='no'">
          <md-input-container>
            <label>What direction was it turned and by how much?</label>
            <input type="text" ng-model="selectedInjuryForm.headTurned"></input>
          </md-input-container>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-12"><label class="control-label">What is the year, make and model of the the other vehicle?</label></div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-input-container>
            <label>Year</label>
            <input type="text" ng-model="selectedInjuryForm.otherVehicleYear">
          </md-input-container>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-input-container>
            <label>Make</label>
            <input type="text" ng-model="selectedInjuryForm.otherVehicleMake">
          </md-input-container>
        </div>
        <div class="col-md-4 col-sm-4">
          <md-input-container>
            <label>Model</label>
            <input type="text" ng-model="selectedInjuryForm.otherVehicleModel">
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <md-radio-group>
            <label>Was the other vehicle moving at the time of the collision? </label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-6 col-sm-6" ng-if="selectedInjuryForm.otherVehicleMoving==='yes'">
          <md-input-container>
            <label>What was its approximate speed?</label>
            <input type="text" class="form-control" ng-model="selectedInjuryForm.otherVehicleEstimatedSpeed">
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row" ng-if="selectedInjuryForm.otherVehicleMoving==='yes'">
        <div class="col-md-12">
          <md-radio-group ng-model="selectedInjuryForm.otherVehicleMovingDesc">
            <label class="control-label">At the time of the collision, was the other vehicle</label>
            <md-radio-button value="slowing down">Slowing Down?</md-radio-button>
            <md-radio-button value="gaining speed">Gaining Speed?</md-radio-button>
            <md-radio-button value="traveling at a steady rate of speed">Traveling at a steady rate of speed?</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Was the impact a</label>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactRearEnd">REAR END(type1)  </md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactHeadOn">HEAD ON(type3)</md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactDriverSide">DRIVER SIDE IMPACT(type 2)</md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactSideSwipe">SIDE SWIPE</md-checkbox>
        </div>
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactObliqueAngle">OBLIQUE ANGLE</md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactRollOver">ROLL OVER(side ways)</md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactPS">PASSENGER SIDE IMPACT(type 2)</md-checkbox>
        </div>
        <div class="col-md-3 col-sm-3">
          <md-checkbox ng-model="selectedInjuryForm.impactRollOverEnd">ROLL OVER(end over end)</md-checkbox>
        </div>
      </div>  <!-- end row -->  

      </div><!-- end fieldset -->

      <div class="fieldset">

      <div class="row">
        <div class="col-md-4 col-sm-4">
          <md-radio-group ng-model="selectedInjuryForm.offWork">
            <label>Were you off work as a result of your injuries?</label>
            <md-radio-button value="yes" >Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-md-4 col-sm-4" ng-if="selectedInjuryForm.offWork==='yes'">
          <md-input-container> 
            <label>From:</label>
            <input type="date" ng-model="selectedInjuryForm.offWorkFrom">
          </md-input-container>
        </div>
        <div class="col-md-4 col-sm-4" ng-if="selectedInjuryForm.offWork==='yes'">
          <md-input-container> 
            <label>To:</label>
            <input type="date" ng-model="selectedInjuryForm.offWorkTo">
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <md-input-container>
            <label>What type of physical effort is required in your line of work?</label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.workEffortRequired"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12">
          <md-radio-group ng-model="selectedInjuryForm.workAggPain">
            <label>Does your work aggravate your pain?</label>
            <md-radio-button value="yes">Yes</md-radio-button>
            <md-radio-button value="no">No</md-radio-button>
            <md-radio-button value="somewhat">Somewhat</md-radio-button>
          </md-radio-group>
        </div>
      </div><!-- end row -->

      </div><!-- end fieldset -->

      <div class="row">
        <div class="col-md-12">

          
        </div>
        <div class="col-md-12">
          <md-input-container>
            <label>Please describe, to the best of your knowledge, what happened during this accident: </label>
            <textarea class="aif-txa" ng-model="selectedInjuryForm.accidentDesc"></textarea>
          </md-input-container>
        </div>
      </div><!-- end row -->

      <div class="row">
        <div class="col-md-12 final-words">Thank you for taking the time to fill out this form.</div>
      </div>

    </div><!-- end col -->

    

    <md-sidenav md-component-id="right" class="md-sidenav-right" id="right">
        <md-button class="md-fab md-primary" aria-label="Print PDF">
            <i class="mdi mdi-printer"></i>
        </md-button>
      <div class="narrative-text" id="narrative-text">
        <div>Injury form for</div>
         <div>for person name: {{selectedInjuryForm.name || 'NOT SPECIFIED'}} </div>
          <div ng-if="selectedInjuryForm.date">dated from {{selectedInjuryForm.date | date:'MM/dd/yyyy'}}</div> 
          <div ng-if="selectedInjuryFormd.dateCollision.date && selectedInjuryFormd.time">for collision occuring at {{selectedInjuryForm.dateCollision.date | date:'MM/dd/yyyy'}} {{selectedInjuryForm.time}}</div>

        <div ng-if="selectedInjuryForm.location && selectedInjuryForm.roadConditions">Injury occured at {{selectedInjuryForm.location}}. Road conditions were {{selectedInjuryForm.roadConditions}}</div>
        <div ng-if="selectedInjuryForm.police">Police came to the accident scene? {{ selectedInjuryForm.police }}</div> 
        <div ng-if="selectedInjuryForm.police && selectedInjuryForm.report">Is there a report? {{ selectedInjuryForm.report }}</div>
        <div ng-if="selectedInjuryForm.police && selectedInjuryForm.reportRequest">Was report requested? {{ selectedInjuryForm.reportRequest }}</div> 
        <div ng-if="selectedInjuryForm.hospital==='no'">Patient didn't go to the hospital</div>
        <div ng-if="selectedInjuryForm.hospital==='yes'">Patient went to the hospital {{selectedInjuryForm.hospitalName}} {{selectedInjuryForm.hospitalTransportation}}. <br>{{selectedInjuryForm.hospitalXray}} were x-rayed. <br> {{selectedInjuryForm.hospitalInjuries}} <br>  Patient stayed in the hospital for {{selectedInjuryForm.hospitalDuration}}</div>
        <div ng-if="selectedInjuryForm.cutbleed">{{selectedInjuryForm.cutbleed}}</div>
        <div ng-if="selectedInjuryForm.bruises">{{selectedInjuryForm.bruises}}</div>
        <div >{{selectedInjuryForm.seat}} {{selectedInjuryForm.collisionAwareness}} </div> 
        <div>
          <span ng-if="selectedInjuryForm.collisionConsciousness==='yes'">After the collision, patient lost consciousness for {{selectedInjuryForm.collisionBlackOutDuration}}. </span><span ng-if="selectedInjuryForm.collisionConsciousness==='no'">Patient remained counscious</span>
        </div>
        <div>
          <span ng-if="selectedInjuryForm.collisionFlashOfLight==='yes'">Patient experienced flash of light in the moment of collision</span>
        </div>
      </div>
       <md-button md-no-ink class="md-primary" ng-click="printPDF()">Print PDF</md-button>
      <textarea id="narrative-txa" class="hidden" ng-model="selectedInjuryForm.narrative"></textarea>

      
    </md-sidenav>

      <div class="right-trigger trigger notFlipped" id="right-trigger" ng-if="selectedInjuryForm" ng-click="toggleRight();rightState = !rightState;" ng-swipe-right="toggleRight()">
        <i class="mdi mdi-more" ng-class="{'flipped' : rightState}"></i>
      </div><!-- end col -->
  </phi-item-form>

</div><!--end row-->


