<style>
    /*auto injury form styles */

    .bestpt .fieldset {
        border-radius: 4px;
        border: 1px thin rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin: 30px auto;
        padding: 10px 0;
    }

    .bestpt {
        padding-bottom: 30px;
    }

    .bestpt .row {
        margin: 10px auto;
    }

   .bestpt txa {
        resize: vertical;
    }

    #bestpt #dd {
        margin-top: 30px;
    }

    #time-label {
        margin-top: 42px;
    }

    #timepicker-column {
        padding-top: 15px;
    }

    .table td:hover {
        cursor: pointer;
    }

    .narrative-text {
        height: 100%;
    }

    #right {
      border-radius: 4px;
        border: 1px thin rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    md-sidenav .md-fab {
        position: fixed;
        bottom: 25px;
        right: 30px;
    }

    md-sidenav .md-fab i {
        font-size: 2em;
    }


    #left-menu {
        display: block;
    }


    .trigger {
        position: fixed;
        width: 50px;
        height: 100%;
        /*background: rgba(87, 121, 158, .3);*/
        color: #286090;
        font-weight: 700;
        padding: 20px 25px;
        text-align: center;
        z-index: 999;
    }

    .trigger:hover {
        cursor: pointer;
    }

    

    .left-trigger i {
        position: fixed;
        top: 50%;
        left: 15px;
        font-size: 2em;
    }

     .right-trigger i {
        position: fixed;
        top: 50%;
        right: 15px;
        font-size: 2em;
    }

    .left-trigger {
        left: 0;
    }

    .right-trigger {
        right: 0;
    }

    .bestpt .final-words {
        text-align: center;
        font-weight: 700;
    }

    .bestpt.phiTab {
        position: relative;
    }

    .bestpt.hidable {
        padding: 0 50px;
    }

    .bestpt .btn-danger i {
        display: block;
        margin: 0 auto;
    }

    .bestpt .btn-danger {
        padding: 10px;
    }

   .pull-right {
      width: 150px;
    }

   .left-trigger .not-flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        left: 465px;
    }

    .left-trigger .flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        left: 15px
    }

    .right-trigger .flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    

    .right-trigger .not-flipped {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        right: 15px
    }

    md-sidenav {
        padding: 10px 20px;
    }

     md-sidenav,
    md-sidenav.md-locked-open,
    md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 20% !important;
        width: auto !important;
        max-width: 20% !important;
    }

    @media screen and (min-width: 960px){
    
        .md-sidenav-left,
        .md-sidenav-right {
          position: static;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }

        .md-sidenav-right {
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
            margin-top: 40px;
            overflow-y: scroll;
        };

        .md-closed {
          display: none;
        }
    }

    .bestpt md-content {
        min-width: 58%;
        padding: 10px 2%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .bestpt md-content > div {
      width: 100%;
    }

    .bestpt .md-tabs-content {
      padding: 30px 20px;
    }

    @media (max-width: 959px){
      .bestpt md-content {
        width: auto;
      }
      md-sidenav,
      md-sidenav.md-locked-open,
      md-sidenav.md-closed.md-locked-open-add-active {
          min-width: 400px !important;
          width: 400px !important;
          max-width: 450px !important;
      }
    }

    .bestpt .tab-content {
        top: 42px;
    }

    .subtab {
        width: 100%;
        padding: 15px 10px;
    }

    .bestpt .hidden {
        visibility: hidden;
        opacity: 0;
    }

    .bestpt h3{
        font-weight: 400;
    }
</style>

<div class="phiTab hidable bestpt" layout="row" flex ng-cloak>

    
 <div class="left-trigger trigger" id="left-trigger" ng-click="toggleLeft();leftState = !leftState;" ng-swipe-left="toggleLeft();leftState = !leftState;">
    <i class="mdi mdi-more notFlipped" ng-class="{'flipped' : leftState}"></i>
  </div> 

 

  <md-sidenav md-component-id="left" class="md-sidenav-left" id="left"> 
      <phi-items-list>
          <phi-items-list-bar></phi-items-list-bar>        
          
          <div class="row">
            <div class="col-xs-12">
              <table ng-table="tableParams" class="table">
                <tr ng-repeat="bestPT in $data" ng-click="onSelect(bestPT)" ng-class="{'active': isSelected(bestPT)}">
                  
                  <td data-title="'Date'" sortable="'date'" width="50%">
                    {{data.record[bestPT.id].startOfCare | date:'MM/dd/yyyy'}}
                    <span class="label label-warning" ng-show="isDirty(bestPT) || isNew(bestPT)">Unsaved</span>
                    <span class="label label-danger" ng-hide="isValid(bestPT)">Invalid</span>
                  </td>
                  <td data-title="'Name'" sortable="'name'" width="50%">
                    <span>{{data.record[bestPT.id].name}}</span>
                  </td>               
                </tr>           
              </table>
            </div>
          </div>       
      </phi-items-list>
    </md-sidenav>
 
       
  <md-content ng-click="toggleSideButtons()">
    <phi-item-form item="selectedBestPT">

      <!-- tabs -->
      <md-tabs class="md-primary" md-selected="tabData.selectedIndex">

        <!-- ================== demographics ====================-->
        <md-tab id="tab1">
          <md-tab-label>Demographics</md-tab-label>
          <md-tab-template>
            
            <div class="row">
              <div class="col-md-4">
                <md-input-container>
                  <label>Patient Name:</label>
                  <input type="text" ng-model="selectedBestPT.name">
                </md-input-container>
              </div>
              <div class="col-md-4">
                <md-input-container>
                  <label>Referring Physician:</label>
                  <input type="text" ng-model="selectedBestPT.refPhysician">
                </md-input-container>
              </div>
              <div class="col-md-4">
          
                  <label>Start of Care: </label>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="selectedBestPT.startOfCare" is-open="datePickers.firstOpened" min-date="minDate" max-date="'2040-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openOne($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
            
              </div>
            </div><!-- end row -->

            <div class="fieldset">

              <div class="row">
                <div class="col-md-6">
                  <md-input-container>
                    <label>Referral Diagnosis: </label>
                    <input type="text" ng-model="selectedBestPT.demographicsRefDiagnosis">
                  </md-input-container>
                </div>
                <div class="col-md-6">
                  <md-input-container>
                    <label>Treatment Diagnosis:</label>
                    <input type="text" ng-model="selectedBestPT.demographicsTreatmentDiagnosis">
                  </md-input-container>
                </div>
              </div><!-- end row -->

              <div class="row">
                <div class="col-md-6">
                  <md-input-container>
                    <label>Referral ICD Code: </label>
                    <input type="text" ng-model="selectedBestPT.demographicsRefICD">
                  </md-input-container>
                </div>
                <div class="col-md-6">
                  <md-input-container>
                    <label>Treatment ICD Code:</label>
                    <input type="text" ng-model="selectedBestPT.demographicsTreatmentICD">
                  </md-input-container>
                </div>
              </div><!-- end row -->

              <div class="row">
                <div class="col-md-6">
                  <md-input-container>
                    <label>Injury: </label>
                    <input type="text" ng-model="selectedBestPT.demographicsInjury">
                  </md-input-container>
                </div>
                <div class="col-md-6">
                    <label>Date of Injury:</label>
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="selectedBestPT.demographicsDoi" is-open="datePickers.secondOpened" min-date="minDate" max-date="'2040-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openTwo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
              </div><!-- end row -->

              <div class="row">
                <div class="col-md-6">
                    <label>Exam Date: </label>
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="selectedBestPT.demographicsExamDate" is-open="datePickers.thirdOpened" min-date="minDate" max-date="'2040-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openThree($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                </div>
                <div class="col-md-6">
                  <timepicker ng-model="selectedBestPT.demographicsExamTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </div>
              </div><!-- end row -->
            </div><!-- end fieldset -->


          </md-tab-template>
        </md-tab>

        <!-- end demographics -->

        <!--========================================== Subjective ==========================================-->
        <md-tab id="tab2">
          <md-tab-label>Subjective</md-tab-label>
          <md-tab-template>
              <!--===== Sub tabs =====-->
              <md-button class="md-primary md-raised" ng-click="subjectiveSelect('report')">Patient Report</md-button>
              <md-button class="md-primary md-raised" ng-click="subjectiveSelect('precautions')">Precautions</md-button>
              <md-button class="md-primary md-raised" ng-click="subjectiveSelect('questionnaires')">Subjective Questionnaires</md-button>

              <div class="subtab" ng-if="subjectiveSelectedTab === 'report' ">
                  <h2>Patient Report</h3>
              </div><!--======================== end subtab ========================-->

              <div class="subtab" ng-if="subjectiveSelectedTab === 'precautions' ">
                  <h2>Precautions</h3>
                  <p>Standard pecautions of handwashing technique performed.</p>
              </div><!--======================== end subtab ========================-->

              <div class="subtab" ng-if="subjectiveSelectedTab === 'questionnaires' ">
                  <h2>Subjective Questionnaires</h3>

                  <h3>DASH</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveDashScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveDash"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                   <h3>LEFS Lower Extremity Functional Scale</h3>

                   <div class="row">
                        <div class="col-md-6">
                             <md-input-container>
                                  <label>Score: </label>
                                  <input type="text" ng-model="selectedBestPT.subjectiveLEFSScore">
                             </md-input-container>
                         </div>
                   </div><!-- end row -->

                 <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveLEFS"></textarea>
                              </md-input-container>
                      </div>
                 </div><!-- end row -->

                 <h3>Oswestry Low Back Pain Disability Index</h3>

                 <div class="row">
                     <div class="col-md-6">
                         <md-input-container>
                             <label>Score: </label>
                             <input type="text" ng-model="selectedBestPT.subjectiveOswestryScore">
                         </md-input-container>
                     </div>
                 </div><!-- end row -->

                 <div class="row">
                     <div class="col-md-12">
                         <md-input-container>
                             <textarea class="txa" ng-model="selectedBestPT.subjectiveOswestry"></textarea>
                         </md-input-container>
                     </div>
                 </div><!-- end row -->

                 <h3>Neck Index</h3>

                 <div class="row">
                     <div class="col-md-6">
                         <md-input-container>
                             <label>Score: </label>
                             <input type="text" ng-model="selectedBestPT.subjectiveNeckScore">
                         </md-input-container>
                     </div>
                 </div><!-- end row -->

                 <div class="row">
                     <div class="col-md-12">
                         <md-input-container>
                             <textarea class="txa" ng-model="selectedBestPT.subjectiveNeck"></textarea>
                         </md-input-container>
                     </div>
                 </div><!-- end row -->

                 <h3>Back Index</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveBackScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveBack"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>ABC - Activities Specific Balance Scale</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveABCScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveABC"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>PSFS - Patient-Specific Functional Scale</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectivePSFSScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectivePSFS"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>GROC - Global Rating of Change Scale</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveGROCScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveGROC"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>FABQ - Fear-Avoidance Beliefs Questionnaire</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveFABQScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveFABQ"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>OPTIMAL</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveOptimalScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveOptimal"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>SF-36</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveSF36Score">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveSF36"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>Lysholm Knee Scoring Test</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveLysholmScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveLysholm"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>WOMAC - Western Ontario and McMaster Universities Arthritis Index</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveWOMACScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveWOMAC"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>QBPDS - Quebec Back Pain Disability Scale</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveQBPDSScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveQBPDS"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>RMDQ - Roland Morris Disability Questionnaire</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveRMDQScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveRMDQ"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>NPRS - Numeric Pain Rating Scale</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveNPRSScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveNPRS"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>McGill Pain Questionnaire</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveMcGillScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveMcGill"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>WHYMPI - West Haven-Yale Multidisciplinary Pain Inventory</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveWHYMPIScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveWHYMPI"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>RAPS - Rheumatoid Arthritis Pain Scale</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveRAPSScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveRAPS"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>VAS - Visual Analog Scale</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveVASScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveVAS"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>Barthel Index of Activities of Daily Living</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveBarthelScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveBarthel"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->


                  <h3>Katz ADLs</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveKatzScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveKatz"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>Geriatric Assessment Tool</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveGeriatricScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveGeriatric"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <h3>Instrumental Activities of Daily Living</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <md-input-container>
                              <label>Score: </label>
                              <input type="text" ng-model="selectedBestPT.subjectiveInstrumentalScore">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <textarea class="txa" ng-model="selectedBestPT.subjectiveInstrumental"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->  

              </div><!--======================== end subtab ========================-->

          </md-tab-template>
        </md-tab>

        <!-- end Subjective -->

        <!--========================================== Objective ==========================================-->
        <md-tab id="tab3">
          <md-tab-label>Objective</md-tab-label>
          <md-tab-template>
            View for Item #3 <br/>
          </md-tab-template>
        </md-tab>

        <!-- end Objective -->

        <!--========================================== Assessment ==========================================-->
        <md-tab id="tab4">
          <md-tab-label>Assessment</md-tab-label>
          <md-tab-template>
              <h3>Prior and Current Levels</h3>
              <div class="row">
                  <div class="col-md-12">
                      <md-select placeholder="Function 1" ng-model="selectedBestPT.assessmentFunction1">
                          <md-option value="Gait">Gait</md-option>
                          <md-option value="Transfers">Transfers</md-option>
                          <md-option value="Strength">Strength</md-option>
                          <md-option value="Lifting">Lifting</md-option>
                          <md-option value="Carrying">Carrying</md-option>
                          <md-option value="Ascending Stairs">Ascending Stairs</md-option>
                          <md-option value="Descending Stairs">Descending Stairs</md-option>
                          <md-option value="Balance">Balance</md-option>
                          <md-option value="Range of Motion">Range of Motion</md-option>
                          <md-option value="Pain">Pain</md-option>
                          <md-option value="Muscle Tone">Muscle Tone</md-option>
                          <md-option value="Ascending Rump">Ascending Rump</md-option>
                          <md-option value="Descending Rump">Descending Rump</md-option>
                          <md-option value="Swimming">Swimming</md-option>
                          <md-option value="Running">Running</md-option>
                          <md-option value="Bed Mobility">Bed Mobility</md-option>
                      </md-select>
                  </div>
              </div><!-- end row -->

              <div class="row">
                  <div class="col-md-6">
                      <md-input-container>
                          <label>Current:</label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentCurrent1"></textarea>
                      </md-input-container>
                  </div>
                  <div class="col-md-6">
                      <md-input-container>
                          <label>Goal:</label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentGoal1"></textarea>
                      </md-input-container>
                  </div>
              </div><!-- end row -->

              <div class="row">
                  <div class="col-md-12">
                      <md-select placeholder="Function 2" ng-model="selectedBestPT.assessmentFunction2">
                          <md-option value="Gait">Gait</md-option>
                          <md-option value="Transfers">Transfers</md-option>
                          <md-option value="Strength">Strength</md-option>
                          <md-option value="Lifting">Lifting</md-option>
                          <md-option value="Carrying">Carrying</md-option>
                          <md-option value="Ascending Stairs">Ascending Stairs</md-option>
                          <md-option value="Descending Stairs">Descending Stairs</md-option>
                          <md-option value="Balance">Balance</md-option>
                          <md-option value="Range of Motion">Range of Motion</md-option>
                          <md-option value="Pain">Pain</md-option>
                          <md-option value="Muscle Tone">Muscle Tone</md-option>
                          <md-option value="Ascending Rump">Ascending Rump</md-option>
                          <md-option value="Descending Rump">Descending Rump</md-option>
                          <md-option value="Swimming">Swimming</md-option>
                          <md-option value="Running">Running</md-option>
                          <md-option value="Bed Mobility">Bed Mobility</md-option>
                      </md-select>
                  </div>
              </div><!-- end row -->

              <div class="row">
                  <div class="col-md-6">
                      <md-input-container>
                          <label>Current:</label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentCurrent2"></textarea>
                      </md-input-container>
                  </div>
                  <div class="col-md-6">
                      <md-input-container>
                          <label>Goal:</label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentGoal2"></textarea>
                      </md-input-container>
                  </div>
              </div><!-- end row -->

              <div class="row">
                  <div class="col-md-12">
                      <md-select placeholder="Function 3" ng-model="selectedBestPT.assessmentFunction3">
                          <md-option value="Gait">Gait</md-option>
                          <md-option value="Transfers">Transfers</md-option>
                          <md-option value="Strength">Strength</md-option>
                          <md-option value="Lifting">Lifting</md-option>
                          <md-option value="Carrying">Carrying</md-option>
                          <md-option value="Ascending Stairs">Ascending Stairs</md-option>
                          <md-option value="Descending Stairs">Descending Stairs</md-option>
                          <md-option value="Balance">Balance</md-option>
                          <md-option value="Range of Motion">Range of Motion</md-option>
                          <md-option value="Pain">Pain</md-option>
                          <md-option value="Muscle Tone">Muscle Tone</md-option>
                          <md-option value="Ascending Rump">Ascending Rump</md-option>
                          <md-option value="Descending Rump">Descending Rump</md-option>
                          <md-option value="Swimming">Swimming</md-option>
                          <md-option value="Running">Running</md-option>
                          <md-option value="Bed Mobility">Bed Mobility</md-option>
                      </md-select>
                  </div>
              </div><!-- end row -->

              <div class="row">
                  <div class="col-md-6">
                      <md-input-container>
                          <label>Current:</label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentCurrent3"></textarea>
                      </md-input-container>
                  </div>
                  <div class="col-md-6">
                      <md-input-container>
                          <label>Goal:</label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentGoal3"></textarea>
                      </md-input-container>
                  </div>
              </div><!-- end row -->

              <div class="row">
                  <div class="col-md-12">
                      <md-input-container>
                          <label>Short Term Goals: </label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentShortTerm"></textarea>
                      </md-input-container>
                  </div>
              </div><!-- end row -->

              <div class="row">
                  <div class="col-md-12">
                      <md-input-container>
                          <label>Long Term Goals: </label>
                          <textarea class="txa" ng-model="selectedBestPT.assessmentLongTerm"></textarea>
                      </md-input-container>
                  </div>
              </div><!-- end row -->

          </md-tab-template>
        </md-tab>

        <!-- end Assessment -->

        <!--========================================== Plan ==========================================-->
        <md-tab id="tab5">
          <md-tab-label>Plan</md-tab-label>
          <md-tab-template>
            
            <!--===== Sub tabs =====-->
            <md-button class="md-primary md-raised" ng-click="planSelect('frequency')">Frequency and Duration</md-button>
            <md-button class="md-primary md-raised" ng-click="planSelect('discharge')">Discharge</md-button>
            <md-button class="md-primary md-raised" ng-click="planSelect('signature')">Signature</md-button>

              <div class="subtab" ng-if="planSelectedTab === 'frequency' ">
                  <div class="row">
                      <div class="col-md-4 col-sm-4">
                              <md-radio-group ng-model="selectedBestPT.planFrequencyTimes">
                                  <label>Times</label>
                                  <md-radio-button value="1">1</md-radio-button>
                                  <md-radio-button value="2">2</md-radio-button>
                                  <md-radio-button value="3">3</md-radio-button>
                                  <md-radio-button value="4">4</md-radio-button>
                                  <md-radio-button value="5">5</md-radio-button>
                                  <md-radio-button value="6">6</md-radio-button>
                                  <md-radio-button value="7">7</md-radio-button>
                              </md-radio-group>
                      </div>
                      <div class="col-md-4 col-sm-4">
                          <md-radio-group ng-model="selectedBestPT.planFrequencyWeekMonth">
                              <label>per:</label>
                              <md-radio-button value="week">week</md-radio-button>
                              <md-radio-button value="month">month</md-radio-button>
                          </md-radio-group>
                      </div>
                      <div class="col-md-4 col-sm-4">
                          <md-input-container>
                              <label>for: </label>
                              <input type="text" ng-model="selectedBestPT.planFrequencyFor">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                    <div class="col-md-12">
                      <md-input-container>
                          <label>Plan Notes:</label>
                          <textarea class="txa" ng-model="selectedBestPT.planFrequencyNotes"></textarea>
                      </md-input-container>
                    </div>
                  </div><!-- end row -->


              </div><!-- ========= end subtab =========-->


              <div class="subtab" ng-if="planSelectedTab === 'discharge' ">
                  <div class="row">
                      <div class="col-md-12">
                          <label>Discharge Date: </label>
                          <p class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="selectedBestPT.dischargeDate" is-open="datePickers.dischargeOpened" min-date="minDate" max-date="'2040-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDischarged($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                          </p>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-4 col-sm-4">
                          <md-radio-group ng-model="selectedBestPT.dischargeStairs">
                              <label>Stairs:</label>
                              <md-radio-button value="yes">Yes</md-radio-button>
                              <md-radio-button value="no">No</md-radio-button>
                          </md-radio-group>
                      </div>
                      <div class="col-md-8 col-sm-8" ng-if="selectedBestPT.dischargeStairs === 'yes'">
                          <md-input-container>
                              <label>Number: </label>
                              <input type="text" ng-model="selectedBestPT.dischargeStairsNumber">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-4 col-sm-4">
                          <md-radio-group ng-model="selectedBestPT.dischargeLivingSituation">
                              <label>Living Situation at Discharge:</label>
                              <md-radio-button value="Live alone">Live alone</md-radio-button>
                              <md-radio-button value="Live with family">Live with family</md-radio-button>
                              <md-radio-button value="Live with friends">Live with friends</md-radio-button>
                              <md-radio-button value="Assisted living facility">Assisted living facility</md-radio-button>
                              <md-radio-button value="Nursing Home/LTC">Nursing Home/LTC</md-radio-button>
                              <md-radio-button value="Other">Other</md-radio-button>
                          </md-radio-group>
                      </div>
                      <div class="col-md-8 col-sm-8" ng-if="selectedBestPT.dischargeLivingSituation === 'Other'">
                          <md-input-container>
                              <label>Other: </label>
                              <input type="text" ng-model="selectedBestPT.dischargeLivingSituationOther">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <label>Living Situation at Discharge Notes:</label>
                              <textarea class="txa" ng-model="selectedBestPT.dischargeLivingSituationNotes"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-4 col-sm-4">
                          <md-checkbox ng-model="selectedBestPT.dischargeNurse">nurse </md-checkbox>
                      </div>
                      <div class="col-md-4 col-sm-4">
                          <md-checkbox ng-model="selectedBestPT.dischargeCareGiver">care giver </md-checkbox>
                      </div>
                      <div class="col-md-4 col-sm-4">
                          <md-checkbox ng-model="selectedBestPT.dischargeOccTherapy">occupational therapy </md-checkbox>
                      </div>
                  </div><!-- end row -->
                  <div class="row">
                      <div class="col-md-4 col-sm-4">
                          <md-checkbox ng-model="selectedBestPT.dischargeSpeechTherapy">speech therapy</md-checkbox>
                      </div>
                      <div class="col-md-4 col-sm-4">
                          <md-checkbox ng-model="selectedBestPT.dischargeSocial">social worker</md-checkbox>
                      </div>
                      <div class="col-md-4 col-sm-4">
                          <md-checkbox ng-model="selectedBestPT.dischargeHome">home health aide </md-checkbox>
                      </div>
                  </div><!-- end row -->
                  <div class="row">
                      <div class="col-md-4 col-sm-4">
                          <md-checkbox ng-model="selectedBestPT.dischargeOther">other</md-checkbox>
                      </div>
                      <div class="col-md-8 col-sm-8" ng-if="selectedBestPT.dischargeOther">
                          <md-input-container>
                              <input type="text" ng-model="selectedBestPT.dischargeOtherNotes">
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <label>Skilled Services Comments: </label>
                              <textarea class="txa" ng-model="selectedBestPT.dischargeSkilledServices"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <label>Durable Medical Equipment: </label>
                              <textarea class="txa" ng-model="selectedBestPT.dischargeEquipment"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <label>Potential Obstacles/Barriers:</label>
                              <textarea class="txa" ng-model="selectedBestPT.dischargeObstacles"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->

              </div><!-- ========= end subtab =========-->


              <div class="subtab" ng-if="planSelectedTab === 'signature' ">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <md-input-container>
                            <label>Name: </label>
                            <input type="text" ng-model="selectedBestPT.planSignatureName">

                        </md-input-container>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>Date:</label>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="selectedBestPT.planSignatureDate" is-open="datePickers.signatureOpened" min-date="minDate" max-date="'2040-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openSignature($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div><!-- end row -->
                  <div class="row">
                      <div class="col-md-12">
                          <md-input-container>
                              <label>NPI #:</label>
                              <textarea class="txa" ng-model="selectedBestPT.planSignatureNotes"></textarea>
                          </md-input-container>
                      </div>
                  </div><!-- end row -->
              </div><!-- ========= end subtab =========-->

          </md-tab-template>
        </md-tab>

        <!-- end Plan -->

        <!--========================================== Medicare ==========================================-->
        <md-tab id="tab6">
          <md-tab-label>Medicare</md-tab-label>
          <md-tab-template>
            View for Item #6 <br/>
          </md-tab-template>
        </md-tab>

        <!-- end Medicare -->

      </md-tabs>
  </phi-item-form>

  <md-sidenav md-component-id="right" class="md-sidenav-right" id="right">
        <md-button class="md-fab md-primary" aria-label="Print PDF" ng-click="printPdf()">
            <i class="mdi mdi-printer"></i>
        </md-button>
      <div class="narrative-text" id="narrative-text">

      </div>
      <textarea id="narrative-txa" class="invisible" ng-model="selectedInjuryForm.narrative"></textarea>

      
    </md-sidenav>

      <div class="right-trigger trigger notFlipped" id="right-trigger" ng-if="selectedInjuryForm" ng-click="toggleRight();rightState = !rightState;" ng-swipe-right="toggleRight()">
        <i class="mdi mdi-more" ng-class="{'flipped' : rightState}"></i>
      </div><!-- end col -->

</div><!--end row-->




